html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Page */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

/* Header */
.header {
  background-color: #1f2937;
  color: #f9faf8;
}

.navigation {
  padding: 20px;
}

.navigation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__logo {
  font-size: 24px;
  font-weight: 700;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 16px;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  padding: 72px 0;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 64px;
}

.hero__content-col,
.hero__image-col {
  flex: 1 1 auto;
}

.heading-primary {
  font-size: 48px;
  font-weight: 700;
}

.hero__heading {
  margin-bottom: 8px;
}

.hero__text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 18px;
}

.hero__image {
  width: 600px;
  height: 300px;
  background-color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: #f9faf8;
  border: 0;
  display: inline-block;
  padding: 10px 22px;
  border-radius: 12px;
}

.btn_filled {
  background: #3882f6;
}

.btn_empty {
  border: 3px solid #f9faf8;
  background: none;
}

/* Main */
.section {
  padding: 72px 0;
}

.section__info {
  color: #1f2937;
}

.heading-secondary {
  font-size: 36px;
  font-weight: 700;
}

.info__heading {
  text-align: center;
  margin-bottom: 36px;
}

.info__cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card {
  text-align: center;
  flex: 0 1 200px;
}

.card__image {
  border: 3px solid #3882f6;
  height: 200px;
  margin-bottom: 16px;
  border-radius: 16px;
}

.section__testimonial {
  background-color: #e5e7eb;
  color: #1f2937;
}

.testimonial__container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial__text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.testimonial__author {
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
}

.cta-box {
  background-color: #3882f6;
  border-radius: 12px;
  padding: 48px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
}

.heading-tertiary {
  font-size: 24px;
  font-weight: 700;
}

.cta-box__heading {
  margin-bottom: 8px;
}

/* Footer */
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 34px 0;
}

.footer__text {
  text-align: center;
}